<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxb.cms.dao.PassRecordMapper">
    <resultMap id="BaseResultMap" type="com.yxb.cms.domain.vo.PassRecordEntity">
        <id column="Id" property="Id" jdbcType="INTEGER"/>
        <result column="ParkId" property="ParkId" jdbcType="INTEGER"/>
        <result column="ParkName" property="ParkName" jdbcType="VARCHAR"/>
        <result column="DoorId" property="DoorId" jdbcType="INTEGER"/>
        <result column="DoorName" property="DoorName" jdbcType="VARCHAR"/>
        <result column="SentryTrueName" property="SentryTrueName" jdbcType="VARCHAR"/>
        <result column="PassTrueName" property="PassTrueName" jdbcType="TIMESTAMP"/>
        <result column="PassDate" property="PassDate" jdbcType="VARCHAR"/>
        <result column="Temperature" property="Temperature" jdbcType="VARCHAR"/>
        <result column="Reason" property="Reason" jdbcType="VARCHAR"/>
        <result column="IsIn" property="IsIn" jdbcType="INTEGER"/>
        <result column="Admit" property="Admit" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="exportMap" type="com.yxb.cms.domain.vo.PassRecord">
        <id column="Id" property="Id" jdbcType="INTEGER"/>
        <result column="ParkId" property="ParkId" jdbcType="INTEGER"/>
        <result column="ParkName" property="ParkName" jdbcType="VARCHAR"/>
        <result column="DoorId" property="DoorId" jdbcType="INTEGER"/>
        <result column="DoorName" property="DoorName" jdbcType="VARCHAR"/>
        <result column="SentryTrueName" property="SentryTrueName" jdbcType="VARCHAR"/>
        <result column="PassTrueName" property="PassTrueName" jdbcType="TIMESTAMP"/>
        <result column="PassDate" property="PassDate" jdbcType="VARCHAR"/>
        <result column="Temperature" property="Temperature" jdbcType="VARCHAR"/>
        <result column="Reason" property="Reason" jdbcType="VARCHAR"/>
        <result column="IsIn" property="IsIn" jdbcType="INTEGER"/>
        <result column="Admit" property="Admit" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 對象封裝 -->
    <sql id="Base_Column_List" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Nov 29 21:23:21 CST 2016.
        -->
        ParkId, ParkName, DoorId, DoorName, SentryTrueName, PassTrueName, PassDate, Temperature,Reason,IsIn,Admit
    </sql>

    <!-- 分页查询条件 -->
    <sql id="selectPageParmas">
        <where>
            <!--  role_name != 'admin'-->
            <if test="PassTrueName != null and PassTrueName != '' ">
                AND  PassTrueName LIKE CONCAT('%', #{PassTrueName,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </sql>

    <!-- 查询角色总记录数 -->
    <select id="passRecordCount" parameterType="com.yxb.cms.domain.vo.PassRecordEntity" resultType="Long">
        select count(*)
        from biz_pass_record
        <include refid="selectPageParmas" />
    </select>

    <select id="selectPassRecordListByPage" parameterType="com.yxb.cms.domain.vo.PassRecordEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_pass_record
        <include refid="selectPageParmas" />
        order by PassDate DESC
        LIMIT #{start},#{limit}
    </select>

	<!-- 出入List -->
    <select id="selectPassRecordList" parameterType="com.yxb.cms.domain.vo.PassRecord" resultMap="exportMap" >
        select
        <include refid="Base_Column_List" />
        from biz_pass_record
        <include refid="selectPageParmas" />
        order by PassDate DESC
    </select>
















    <!--<select id="passRecordList" resultMap="BaseResultMap">-->
        <!--select * from biz_pass_record-->
    <!--</select>-->

    <!--<select id="passRecordCount" resultType="java.lang.Integer">-->
        <!--select count(*) from biz_pass_record-->
    <!--</select>-->


</mapper>