<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxb.cms.dao.UserNewsManagerMapper">
    <resultMap id="BaseResultMap" type="com.yxb.cms.domain.vo.UserNewsManagerEntity">

        <id column="Id" property="Id" jdbcType="INTEGER"/>
        <result column="TrueName" property="TrueName" jdbcType="VARCHAR"/>
        <result column="IdCard" property="IdCard" jdbcType="VARCHAR"/>
        <result column="NickName" property="NickName" jdbcType="VARCHAR"/>
        <result column="OpenId" property="OpenId" jdbcType="VARCHAR"/>
        <result column="AvatarUrl" property="AvatarUrl" jdbcType="VARCHAR"/>
        <result column="Gender" property="Gender" jdbcType="INTEGER"/>
        <result column="Country" property="Country" jdbcType="VARCHAR"/>
        <result column="Province" property="Province" jdbcType="VARCHAR"/>
        <result column="City" property="City" jdbcType="VARCHAR"/>
        <result column="Language" property="Language" jdbcType="VARCHAR"/>
        <result column="PhoneNumber" property="PhoneNumber" jdbcType="VARCHAR"/>
        <result column="DefaultParkId" property="DefaultParkId" jdbcType="INTEGER"/>
        <result column="DefaultRoleCode" property="DefaultRoleCode" jdbcType="VARCHAR"/>
        <result column="HasEpidemic" property="HasEpidemic" jdbcType="VARCHAR"/>
        <result column="SessionKey" property="SessionKey" jdbcType="VARCHAR"/>

    </resultMap>

    <!-- 封装的对象 -->
    <sql id="Base_Column_List" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Nov 29 21:23:21 CST 2016.
        -->
        TrueName, IdCard, NickName, OpenId, AvatarUrl, Gender, Country,Province,
        City,Language,PhoneNumber,DefaultParkId,DefaultRoleCode,HasEpidemic,SessionKey
    </sql>

    <!-- 分页查询条件 -->
    <sql id="selectPageParmas">
        <where>
            <!--  role_name != 'admin'-->
            <if test="TrueName != null and TrueName != '' ">
                AND  TrueName LIKE CONCAT('%', #{TrueName,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </sql>

    <!-- 查询角色总记录数 -->
    <select id="userNewsManagerCount" parameterType="com.yxb.cms.domain.vo.UserNewsManagerEntity" resultType="Long">
        select count(*)
        from sys_user
        <include refid="selectPageParmas" />
    </select>

    <select id="userNewsManagerListByPage" parameterType="com.yxb.cms.domain.vo.UserNewsManagerEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <include refid="selectPageParmas" />
        LIMIT #{start},#{limit}
    </select>

 <!--   <select id="userNewsManagerList" resultMap="BaseResultMap">
        select * from sys_user
    </select>

    <select id="userNewsManagerCount" resultType="java.lang.Integer">
        select count(*) from sys_user
    </select>-->
</mapper>