<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxb.cms.dao.UserNewsManagerMapper">
    <resultMap id="BaseResultMap" type="com.yxb.cms.domain.vo.UserNewsManagerEntity">

        <id column="Id" property="Id" jdbcType="INTEGER"/>
        <result column="name" property="TrueName" jdbcType="VARCHAR"/>
        <result column="ParkName" property="ParkName" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="INTEGER"/>
        <result column="permanent_address" property="permanentAddress" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <!--<result column="City" property="City" jdbcType="VARCHAR"/>-->
        <!--<result column="Language" property="Language" jdbcType="VARCHAR"/>-->
        <!--<result column="PhoneNumber" property="PhoneNumber" jdbcType="VARCHAR"/>-->
        <!--<result column="DefaultParkId" property="DefaultParkId" jdbcType="INTEGER"/>-->
        <!--<result column="DefaultRoleCode" property="DefaultRoleCode" jdbcType="VARCHAR"/>-->
        <!--<result column="HasEpidemic" property="HasEpidemic" jdbcType="VARCHAR"/>-->
        <!--<result column="SessionKey" property="SessionKey" jdbcType="VARCHAR"/>-->
    </resultMap>


    <select id="userNewsManagerListByPage" parameterType="com.yxb.cms.domain.vo.UserNewsManagerEntity" resultMap="BaseResultMap">
        select DISTINCT name TrueName, ParkName, company,department,phone_number phoneNumber, id_card idCard,permanent_address permanentAddress,address
        from view_pass_record
        <where>
            name is not null
            <if test="TrueName != '' and TrueName != null">
                AND  name LIKE CONCAT('%', #{TrueName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="company != '' and company != null">
                AND  company LIKE CONCAT('%', #{company,jdbcType=VARCHAR}, '%')
            </if>
            <if test="department != '' and department != null">
                AND  department LIKE CONCAT('%', #{department,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        LIMIT #{start},#{limit}
    </select>

    <!-- 查询角色总记录数 -->
    <select id="userNewsManagerCount" parameterType="com.yxb.cms.domain.vo.UserNewsManagerEntity" resultType="Long">
        select COUNT(1) from (select DISTINCT name,company,department
        from view_pass_record where name is not null) a
        <where>
            <if test="TrueName != '' and TrueName != null">
                AND  a.name LIKE CONCAT('%', #{TrueName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="company != '' and company != null">
                AND  a.company LIKE CONCAT('%', #{company,jdbcType=VARCHAR}, '%')
            </if>
            <if test="department != '' and department != null">
                AND  a.department LIKE CONCAT('%', #{department,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>












    <!--&lt;!&ndash; 封装的对象 &ndash;&gt;-->
    <!--<sql id="Base_Column_List" >-->
    <!--&lt;!&ndash;-->
    <!--WARNING - @mbggenerated-->
    <!--This element is automatically generated by MyBatis Generator, do not modify.-->
    <!--This element was generated on Tue Nov 29 21:23:21 CST 2016.-->
    <!--&ndash;&gt;-->
    <!--TrueName, IdCard, NickName, OpenId, AvatarUrl, Gender, Country,Province,-->
    <!--City,Language,PhoneNumber,DefaultParkId,DefaultRoleCode,HasEpidemic,SessionKey-->
    <!--</sql>-->

    <!--&lt;!&ndash; 分页查询条件 &ndash;&gt;-->
    <!--<sql id="selectPageParmas">-->
    <!--<where>-->
    <!--&lt;!&ndash;  role_name != 'admin'&ndash;&gt;-->
    <!--<if test="TrueName != null and TrueName != '' ">-->
    <!--AND  TrueName LIKE CONCAT('%', #{TrueName,jdbcType=VARCHAR}, '%')-->
    <!--</if>-->
    <!--</where>-->
    <!--</sql>-->
</mapper>